.deps/
.DS_Store
*.[oa]
*.l[oa]
*.exe
*~
build/
weighttp
Makefile
Makefile.in
aclocal.m4
compile
configure
depcomp
install-sh
missing
autom4te.cache/
config.cache
config.h
config.h.in
config.log
config.status
stamp-h1
